* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.893);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    height: 60px;
}

nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: Center;
    padding: 0 30px;
    font-size: 28px;
}

nav li:first-child {
    margin-right: auto;
}

nav button {
    font-size: 20px;
    font-weight: 400px;
    border-radius: 5px;
    border: none;
    padding: 8px;
    background-color: rgb(231, 90, 39);
    color: white;
    cursor: pointer;
}

nav a:hover {
    background-color: rgba(128, 128, 128, 0.781);
}

nav li {
    position: relative;
}

nav li ul.Dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.893);
    box-shadow: 0 0 8 rgb(0, 0, 0, 0.2);
    display: none;
}

nav ul li:hover>.Dropdown {
    display: block;
}

nav ul.Dropdown li {
    height: auto;
}

nav ul.Dropdown a {
    display: block;
    padding: 10px 15px;
}

nav button:hover {
    background-color: rgb(244, 68, 4);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    padding-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #151a21;
}

.first-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.first-container .content {}

.first-container h1 {
    font-size: 5rem;
    color: orangered;
}

.first-container h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}

.wrapper {
    display: flex;
}

.dynamic-text {
    margin-left: 10px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-text li {
    font-size: 60px;
    font-weight: 400px;
    list-style: none;
    position: relative;
    color: orangered;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

.dynamic-text li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    animation: typing 3s steps(10) infinite;
    background-color: #151a21;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.image img:hover {
    transform: perspective(200px) translateZ(5px);
}

.second-section {
    min-height: 100vh;
    background-color: #fff8f0;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}

.second-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-column-gap: 20px;
    padding: 30px;
}

.dice-roller-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dice-roller-game h1 {
    font-size: 60px;
}

.dice-roller-game input {
    font-size: 18px;
    padding: 8px;
    text-align: center;
    border: 2px solid #999;
}

.dice-roller-game button {
    font-size: 1.5rem;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background-color: rgb(235, 96, 45);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.dice-roller-game button:hover {
    background-color: orangered;
}

.dice-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.dice-image img:hover {
    transform: perspective(200px) translateZ(5px);
    box-shadow: 0 0 20px #151a21;
}

#ImageResult img {
    width: 150px;
    margin: 15px;
}

.Third-Section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: white;
}

.third-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.stopwatch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single {}

.single li {
    font-size: 60px;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    position: relative;
    color: orangered;
}

.single li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    animation: typing 3s steps(9) infinite;
    background-color: white;
}

.clockresult {
    font-size: 5rem;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.821);
    font-weight: 500px;
}

.controls button {
    font-size: 3rem;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.93);
    cursor: pointer;
    margin: 8px;
    transition: background 1s ease;
    width: 150px;
}

#Start {
    background-color: rgb(73, 250, 73);
}

#Start:hover {
    background-color: rgb(1, 43, 1);
}

#Stop {
    background-color: rgb(234, 54, 54);
}

#Stop:hover {
    background-color: rgb(139, 4, 4);
}


#Reset {
    background-color: rgb(237, 173, 55);
}

#Reset:hover {
    background-color: rgb(88, 58, 3);
}

.practise {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: white;
}

.practise h1 {
    font-size: 5rem;
}

.practise h2 {
    font-size: 2rem;
}

.practise button {
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.practise-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#Result1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

#Result2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.time-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background: white;
}

.clock-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.clock-grid img {
    width: 325px;
    height: auto;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#Display {
    font-size: 4rem;
    font-family: monospace;
    font-weight: 400px;
}

#Greeting {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

@media(max-width:768px) {
    nav a {
        font-size: 20px;
    }

    .HideonMobile {
        display: none;
    }

    nav button {
        font-size: 18px;
        padding: 5px;
    }

    .first-container {
        grid-template-columns: 1fr;
    }

    .second-container {
        grid-template-columns: 1fr;
    }

    .dice-roller-game h1 {
        font-size: 2rem;
    }

    .dice-roller-game input {
        font-size: 15px;
        padding: 4px;
    }

    .clockresult {
        font-size: 2.5rem;

    }

    .controls button {
        font-size: 2rem;
        padding: 5px;
        width: auto;
    }
}

@media(max-width:500px) {
    .first-container h1 {
        font-size: 3rem;
    }

    .first-container li {
        font-size: 50px;
    }

    .dice-roller-game h1 {
        font-size: 28px;
    }
}