* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
    color: #151a21a8;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 550px;
    background-color: #151a219e;
    border-radius: 15px;
    overflow: hidden;
}

.Display {
    padding: 25px;
    font-size: 3rem;
    color: black;
    font-weight: 400px;
    background-color: #151a21;
}

.Display ol {
    list-style: none;
}

.tasks {
    padding: 30px;
}

.tasks li {
    list-style: none;
    margin: 10px;
}

li button {
    margin-left: 5px;
}